<launch>
    <group ns="robot1">
    <node pkg="navigatie_test" name="navigatie1" type="navigatie1.py" respawn="true" output="screen"/>
    </group>

    <group ns="robot2">
    <node pkg="navigatie_test" name="navigatie2" type="navigatie2.py" respawn="true" output="screen"/>
    </group>
</launch>
